button {
  background-color: #339af0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  width: 100%;
  cursor: pointer;
  text-transform: capitalize;
}

button:hover {
  background-color: #74c0fc;
}
